@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --background: #000000;
  --foreground: #171717;
  --swiper-navigation-size: 20px !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.overlay {
  border-image: linear-gradient(hsl(223, 8%, 18%), hsla(0, 6%, 7%, 0.6)) fill 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
